button {
border: none;
color: white;
background-color: black;
border-radius: 1em;
}

.App {
  background-image: url(https://www.snowmagazine.com/images/features/top-tens/Powder%20skiing%20in%20Golden-BC-Canada-CREDIT%20Golden%20Tourism_Maur%20Mere%20Media.jpg?t=1666347485339);
  background-size: 100% 100%;
  min-height: 100vh;
  padding-top: 20px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-button {
  width: 5em;
}
