.card {
  box-sizing: border-box;
  border-radius: 1em;
  padding: 10px;
  background-color:  rgba(200, 200, 200, 0.7);
}

.card-link {
  color: black;
  text-decoration: none;
}

.delete-button {
  width: 2em;
}