.report-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.report {
  margin: 20px;
  padding: 20px;
  background-color:  rgba(200, 200, 200, 0.7);
  border-radius: 3em;
}